//whites --- 
$marble:#f2f8fc;
$ivory:#fffff0;
$pearl:#fcfcf7;
$lavender:#f4f1f8;
$cold-steel:#f8f7f4;

//blacks ---
$charcoal:#21242a;
$licorice:#161110;
$deep:#101923;
$obsidian:#08100c;
$smokie:#23262a;
$alien:#1a2228;
$neutral:#232325;
$deep-dark:#000000;