.about-page {
    width: 100%;
    height: fit-content;
    color: white;
    padding-top: 15rem;
    // padding-bottom: 5rem;

    .test {
      transform: scaleY(-1);
    }
    .content {
      width: 100%;
       
      .hero {
       position: relative;
       margin-top: 3rem;
       padding-left: 2rem;
       
        .quote {
          width: fit-content;  
          text-align: right;
          justify-content: end;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 4rem;
          margin-left: 12rem;
        //   background-color: green;
          p {
            width: 480px;
            color: white;
            font-weight: 600;
            text-align: right;
            letter-spacing: 1px;
            font-size: 1.4rem;
          }

          .auth {
            // background-color: blue;
            width: fit-content;
            margin-right: 1rem;
        }
       }

       .hero-text {
        //   width: 250x;
        font-size: 3rem;
        margin-top: 3rem;
        margin-left: 12rem;

        h1 {
            text-align: left;
            width: 800px;
            font-size: 6rem;
            font-weight: 500;
            display: flex;
            margin: 0;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

            // mix-blend-mode: difference;

            span {
              transform: translateY(100px);
              opacity: 0;
            }
         }
       }

       .image-wrapper {
         width: 520px;
         height: 690px;
         white-space: nowrap;
         overflow: hidden;
         position: absolute;
         right: 12rem;
         top: -8rem;
         z-index: -1;
         transform: rotate(15deg);
           .img-bout {
             width: 580px;
             height: 750px;
             opacity: 0;
            //  transform: scale(1.1);
             object-fit: cover;
             -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
             filter: grayscale(100%);
            //  mix-blend-mode: difference;
          }
        }
      }

      .about-sec {
        margin-top: 12rem;
     
        p{
          width: 60%;
          font-weight: 600;
          font-size: 1.2rem;
          margin-right: 4rem;
          margin-left: auto;
          text-align: right;
          display: flex;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          span {
            transform: translateY(500px);
          }
        }

         .stack-images {
            display: flex;
            width: fit-content;
            margin: auto;
            margin-top: 9rem;
            .img {
             margin: 1rem 1rem;
            }
         }

         .reach-sec {
          margin-top: 3rem;
          padding: 1rem 4rem;

           h1 {
            width: fit-content;
            font-size: 8rem;
            font-weight: 500; 
            margin: 0;
            display: flex;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            white-space: nowrap;
            overflow: hidden;

            span {
              opacity: 0;
              transform: translateX(-400px);
            }
           }

           .reach-links {
            display: flex;
            width: 100%;
            margin-top: 4rem;
            margin-left: .7rem;
            justify-content: start;

            p {
              font-size: 1.2rem;
              text-decoration: underline;
              cursor: pointer;
            }
           }
         }
      }

      
      .bottom-section {
        width: 100%;
        height: fit-content;
        color: white;
        margin-top: 0;
        margin: auto;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;

        h1 {
          position: absolute;
          right: 0;
          bottom:0;
          margin: 0;
          padding: 0;
          transform: translate(20%, 25%);
          font-size: 27rem;
          font-weight: 700;
        }

        .footer-section {
          width: 80%;
          height: fit-content;
          padding: 1rem 6rem; 
          display: block;
          h4 {
            width: 30%;
            height: fit-content;
            display: flex;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

            .bottom-footer-span1 {
              width: fit-content;
              height: fit-content;
              transform: translateY(200px);
            }
            
          }

          .bottom-footer {
             width: 100%;
             height: 500px;
             display: flex;
             vertical-align: bottom;

             .left-col {
              width: fit-content;
              height: fit-content;
              margin-bottom: 3rem;
              margin-top: auto;
              a {
                text-decoration: none;
                color: white;


                p {
                  margin-top: 1.5rem;
                  font-weight: 600;
                  letter-spacing: 1px;
                  font-size: 1.2rem;
                }
              }
             }

             .middle-col {
                width: fit-content;
                height: fit-content;
                margin: auto auto 2rem auto;
                transform: translateX(-160px);
                display: block;
                justify-content: center;
                align-items: center;
                text-align: center;

                .row {
                  width: fit-content;
                  height: fit-content;
                  display: flex;
                  align-items: end;
                  margin-top: 2rem;
                  p {
                    width: fit-content;
                    height: fit-content;
                    font-weight: 600;
                    font-size: 1.2rem;
                    text-align: left;
                  }

                  .left {
                    text-align: right;
                    margin-right: 3rem;
                  }
                }
                
                table, tr, td, th {
                  border: none;
                }

                table {
                  tr {
                    margin-top: 2.5rem;
                    display: flex;
                    align-items: end;
                    td {
                      width: 200px;
                      font-weight: 600;
                      font-size: 1.2rem;
                      text-align: left;
                    }

                    .left {
                      margin-right: 2rem;
                      text-align: right;
                    }
                  }

                  .second {
                     align-items: start;
                  }


                }

                p {
                  width: fit-content;
                  font-weight: 600;
                  font-size: 1.2rem;
                  margin: 7rem auto 0 auto;
                }

             }
          }
        }
      }
    }
}

body {
    background: black;
}